[submodule "TeX-preambles"]
	path = TeX-preambles
	url = https://github.com/cmp0xff/TeX-preambles
[submodule "preambles"]
	path = preambles
	url = https://github.com/cmp0xff/TeX-preambles
[submodule "logos"]
	path = logos
	url = https://github.com/cmp0xff/logos
